<!-- Toolbar -->
<div class="toolbar" role="banner">
    <span>Software Architecture Project - DeltAlert</span>
    <div class="spacer"></div>
    <span>McMaster University</span>
</div>

<!-- Body -->
<div class="content" role="main">
  <div>
    <app-stock-display></app-stock-display>
  </div>

  <div>
    <app-buy-sell></app-buy-sell>
  </div>

  <div>
    <app-generate-report></app-generate-report>
  </div>

  <div>
    <app-event-source-test></app-event-source-test>
  </div>
</div>

<router-outlet></router-outlet>
